apex==0.9.10dev
datasets==2.16.1
evaluate==0.4.1
GitPython==3.1.44
matplotlib==3.8.4
mauve_text==0.4.0
numpy==2.2.2
pandas==1.5.3
scikit_learn==1.4.1.post1
scipy==1.15.1
sentence_transformers==3.3.1
setuptools==75.8.0
spacy==3.7.4
torch==2.1.2
tqdm==4.66.1
transformers==4.45.2
